@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-right: 0 !important;
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 180deg;
  inherits: false;
}

@property --rotation-time {
  syntax: '<time>';
  initial-value: 5s;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.animated-card::before,
.animated-card::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: inherit;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--animated-card-color-1),
    var(--animated-card-color-2),
    var(--animated-card-color-1)
  );
  animation: rotation var(--rotation-time) linear infinite;
}

.animated-card::after {
  filter: blur(5px);
}

.animated-card-first {
  --animated-card-color-1: gold;
  --animated-card-color-2: rgba(255, 217, 0, 0.3);
}

.animated-card-second {
  --animated-card-color-1: silver;
  --animated-card-color-2: rgba(192, 192, 192, 0.3);
}

.animated-card-third {
  --animated-card-color-1: rgba(205, 127, 50, 1);
  --animated-card-color-2: rgba(205, 127, 50, 0.3);
}
