@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .menu-open {
  overflow-y: scroll !important;
  padding-right: unset !important;
}

.modal-open,
.drawer-open {
  overflow-y: hidden !important;
} */
